@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');



*, *:after, *:before {
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Mono", sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  font-size: 1.25rem;
}

*:focus {
  outline: none;
}

.accordion-container {
  width: 90%;
  max-width: 100%;
margin-bottom: 20px;
  justify-self: center;
  max-height: auto;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-header h2 {
  margin: 0;
}

.close-all-button {
    font-family: "roboto mono", sans-serif !important;
  padding: 0.5rem 1rem;
  margin: 1rem ;
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  transition: opacity 0.2s ease;
}

.close-all-button:hover:not(:disabled) {
  opacity: 0.8;
}

.close-all-button:disabled {
  background-color: var(--button-disabled-background);
  color: var(--button-disabled-color);
  cursor: not-allowed;
  border-color: var(--button-disabled-background);
}

details div {
  border-left: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
  padding: 1.5em;
}

details div > * + * {
  margin-top: 1.5em;
}

details + details {
  margin-top: .5rem;
}

summary {
  font-family: "roboto mono", sans-serif;
  list-style: none;
  border: 2px solid ;
  border-radius: 5px;
  padding: .75em 1em;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.accordion-text {
  font-family: "IBM Plex Mono", sans-serif;
  
}

summary::-webkit-details-marker {
  display: none;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
}

details[open] summary {
  background-color: var(--hover-background);
}

summary:hover {
  background-color: var(--hover-background);
}

a {
  color: inherit;
  font-weight: 600;
  text-decoration: none;
  box-shadow: 0 1px 0 0;
}

a:hover {
  box-shadow: 0 3px 0 0;
}

code {
  font-family: monospace;
  font-weight: 600;
}