.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 20px;
}

.slider {
  background: transparent;

  height: 100;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;

  &::before,
  &::after {
   
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }
}

.slide-track {
  animation: scroll 20s linear infinite;
  display: flex;
  width: calc(250px * 20); // Ajustado para o número total de slides após quadruplicação
}

.slide {
  height: 100px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 10)); // Metade do width total do slide-track
  }
}