.theme-switch {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type='checkbox'].hidden {
  display: none;
}

input[type='checkbox'].hidden + label {
  height: 1.5rem; /* Altura do botão */
  width: 3rem; /* Largura do botão */
  border-radius: 0.5rem; /* Borda arredondada */
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #464646;
  /* background-color: #cecece; */
  position: relative;
  transition: background-color 0.3s;
}

input[type='checkbox'].hidden:checked + label {
  background-color: #f1f1f1;
  /* background-color: #3a3a3a; */
}

input[type='checkbox'].hidden + label .toggle-circle {
  width: 1.2rem; /* Tamanho do círculo */
  height: 1.2rem; /* Tamanho do círculo */
  border-radius: 50%; /* Deixa o círculo arredondado */
  position: absolute;
  top: 0.15rem; /* Espaçamento do topo */
  left: 0.15rem; /* Espaçamento inicial */
  z-index: 10;
  transition: left 0.3s, background-color 0.3s;
  background-color: #afafaf;
  /* background-color: #f2f2f2; */
}

input[type='checkbox'].hidden:checked + label .toggle-circle {
  left: calc(3rem - 1.2rem - 0.15rem); /* Calcula o deslocamento do círculo */
  background-color: #212121;
  /* background-color: #212121; */
}

input[type='checkbox'].hidden + label .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem; /* Tamanho do ícone */
  height: 1rem; /* Tamanho do ícone */
  color: #e9e9e9;
  /* color: #3a3a3a; */
  transition: color 0.3s;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

input[type='checkbox'].hidden + label .icon.sun {
  left: 0.25rem; /* Ajuste para o lado esquerdo */
}

input[type='checkbox'].hidden + label .icon.moon {
  right: 0.25rem; /* Ajuste para o lado direito */
}

input[type='checkbox'].hidden:checked + label .icon.sun {
  
  color: #444444;
}

input[type='checkbox'].hidden:checked + label .icon.moon {
  color: #ce7;
  /* color: #cecece; */
}
