body {
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

body.dark {
  background-color: #121212;
  color: #ffffff;
}

.app-container {
  text-align: center;
  margin: 2rem;
}

button {
  
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}
/* src/index.css */
.app-wrapper {
  min-height: 100vh;
}

nav {
  display: flex;
  gap: 1rem;
}

nav a {
  text-decoration: none;
  color: inherit;
  padding: 0.5rem;
}


/* Estilos para o tema escuro */
.dark {
  background-color: #1a1a1a;
  color: #fff;
}

.dark .header {
  background-color: #000;
}

.dark a {
  color: #fff;
}

.dark select {
  background-color: #333;
  color: white;
  border-color: #666;
}